@{ Layout = "_LayoutAdmin"; }

<style>
    .select2-selection__rendered {
        width: 500px !important;
    }

    .select2-container .select2-selection--single {
        width: 500px !important;
    }
</style>

<div class="row">
    <div class="col-md-6">

        <h1 class="mt-4">Data Interview</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Interview List</li>
        </ol>
    </div>

    <div class="col-md-5"></div>
        <div class="col-md-1 d-flex align-items-center">
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#Interview">Add</button>
            </div>
        </div>
</div>


<table class="table" id="dataJobInterview">

    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">ID Job</th>
            <th scope="col">Title Job</th>
            <th scope="col">Company</th>
            <th scope="col">ID Employee</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Interviewer</th>
            <th scope="col">Interview Date</th>
            <th scope="col">Interview Time</th>
            <th scope="col">Status</th>
        </tr>
    </thead>

    <tbody id="JobInterview">
    </tbody>
</table>

<div class="modal fade" id="Interview" tabindex="-1" role="dialog" aria-labelledby="Interview" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Interview">Add Interview</h5>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formrassign" class="need-validations">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmployee">Data Invited</label>

                        </div>

                        <div class="row">
                            <div class="col-8-md-2 mb-3">   
                                <select id="inputJEmployee" name="inputJEmployee" class="form-control">
                                </select>
                                <div class="invalid-feedback">
                                    <span id="msgJEmployee"></span>
                                </div>
                            </div>


                            <div class="col-4-md-2 mb-3">

                                <label for="EmployeeID">ID Employee</label>
                                <div>
                                    <input type="text" id="EmployeeId" class="form-control" required readonly>
                                    <div class="invalid-feedback">
                                        <span id="msgEmployee"></span>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    <span id="msgJob"></span>
                                </div>
                            </div>

                            <div class="col-4-md-2 mb-3">

                                <label for="JobId">ID Job</label>
                                <div>
                                    <input type="text" id="JobId" class="form-control" required readonly>
                                    <div class="invalid-feedback">
                                        <span id="msgJob"></span>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    <span id="msgJob"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                   

                        
                    </div>

                    <div class="form-group">
                        <label for="InterviewDate">Interview Date</label>
                        <div>
                            <input type="date" id="InterviewDate" class="form-control" name="trip-start" min="2021-01-01" max="2041-12-31" required>
                            <div class="invalid-feedback">
                                <span id="msgInterviewDate"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="InterviewTime">Choose a time for Interview</label>
                        <div class="col-4-md-2 mb-3">
                            <input type="time" id="InterviewTime" class="form-control" name="appt" required>
                            <div class="invalid-feedback">
                                <span id="msgInterviewTime"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="Interviewer">User</label>
                        <input type="text" id="Interviewer" class="form-control" placeholder="User" required>
                        <div class="invalid-feedback">
                            <span id="msgUser"></span>
                        </div>
                    </div>

                </div>



            </form>
            <div class="modal-footer">
                <button id="interview" class="btn btn-primary" type="submit">Submit Form</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jobinterviewJS.js"></script>
}